body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f7fa;
}
.main_c {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}


.main-session-cont {
  padding: 70px 90px;
}

.main-session-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
}

.about-me {
  margin: 0px 0px 40px 0px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;

  color: #000000;
}


.project-me {
  margin: 0 0 50px 0;
}

.project-me-jir {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-me-list {
  padding: 0 0 0 18px;
}

.project-me-item {
  color: black;
  font-weight: bold;
}

.project-me-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-me-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.work-me-company {
  color: orangered;
  padding: 10px 0 0 0;
}
.work-me-exp-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.work-me-exp-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.work-my-exp-divi {
  color: #000000;
}

.work-me-exp-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work-my-exp-co {
  margin: 0 0 15px 0;
}

.education-me {
  margin: 40px 0 0 0;
}

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.sidebar-section img {
  width: 100%;
}

.contacts-section,
.soft-skill-session {
  margin: 50px 0 0 40px;
}

.tech-skill-session {
  margin: 50 px 0 0 40px;
}

.sidebar-tech,
.sidebar-contacts,
.sidebar-soft {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #f5f7fa;
  margin-bottom: 10px;
}

.cs-c,
.cs-e {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #f5f7fa;
  margin-right: 5px;
}
.cs-c-link,
.cs-e-link {
  color: #b8d2f2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #b8d2f2;

  opacity: 0.5;
}

.tech-skills-list {
  padding: 0 0 0 19px;
}
.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}


.soft-skills-list {
  padding: 0 0 0 19px;
}

.soft-skills-list {
  color: #fb6d3a;
}

.soft-skills-item-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
